node_modules/
dist/

app/node_modules/
app/electron/Config.js
app/build/static/
app/pages/resources/Home.js
app/pages/resources/Bookmarks.js
app/pages/resources/History.js
app/pages/resources/Downloads.js
app/pages/resources/Settings.js
app/pages/resources/ErrorPage.js