node_modules/
electron/Config.js
build/static/
pages/resources/Home.js
pages/resources/Bookmarks.js
pages/resources/History.js
pages/resources/Downloads.js
pages/resources/Settings.js
pages/resources/ErrorPage.js